<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Sportski klubovi</title>
    <meta name="title" content="Sportski Klubovi">
    <meta name="author" content="Dino Meter">
    <meta name="description" content="Baza podataka sportskih klubova">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
</head>
<body>
    {% if session %}
        <h1>Welcome {{session.userinfo.name}}!</h1>
        <div class="button-container">
            <h1 class="white-text">SPORTSKI KLUBOVI</h1>
            <div class="button-row">
                <a href="/download_csv" class="button-link button-link-green">Preuzmi CSV</a>
                <span class="button-separator"></span>
                <a href="/download_json" class="button-link button-link-yellow">Preuzmi JSON</a>
            </div>
            <div class="button-row">
                <a href="/datatable" class="button-link">Prikaz podataka</a>
            </div>
            <div class="button-row">
                <a href="/osvjezi_preslike" class="button-link">Osjveži preslike</a>
                <span class="button-separator"></span>
                <a href="profil" class="button-link">Korisnički profil</a>
            </div>
        </div>
        <div class="button-row">
            <a href="/logout" class="button-link">Odjava</a>
        </div>
        

    {% else %}
        <h1>Welcome Guest</h1>
        <div class="button-row"></div>
            <p><a href="/login" class="button-link">Prijava</a></p>
        </div>
    {% endif %}
    


</body>

<footer>
        <p class="attribution">Image by redgreystock on Freepik</p>
</footer>
</html>